# Dependencies
node_modules

# Build output
dist
*.tsbuildinfo
*.config.d.ts
coverage

# Logs
*.log

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local
